<h1>Eat-Da-Burger!</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {{#each burgers}}
            {{#unless this.devoured}}
            <div>
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                    <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-sm-6">
            {{#each burgers}}
            {{#if this.devoured}}
            <div class='burgerEaten'>
                <div>
                    {{this.burger_name}}
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<br><br>

<div class="row center">
    <div class="col-sm-12">
        <form class="input">
            <textarea id="name" name="burger_name" rows="3" cols="40"></textarea>
            <button type="submit" class="addBurgerButton btn btn-primary">Submit</button>
            <P class="center">Enter a burger you want to eat click the "submit" button</P>
        </form>
    </div>
</div>